.buyproduct1 {
    height: 100%;
    width: 100%;
}

.sp1 {
    width: 100%;
    height: 130px;
    text-align: center;
    line-height: 130px;
    background-image: url(img/backgroud.jpg);
    margin-top: 20px;
}

.sp1,
.text {
    font-size: 25px;
    color: rgb(67, 65, 221);
}

.product-btn1 {
    width: 1327px;
    margin: 0 auto;
    display: flex;

}

.sanpham {
    width: 600px;
    height: 500px;
    border: 1px solid rgb(231, 223, 223);
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(75, 71, 71, 0.3);
}

.anh-product-1 {
    width: 500px;
    height: 400px;
    margin-top: 50px;
}

.buy {
    width: 650px;
    margin-top: 50px;
    margin-left: 20px;
}

.gia {
    font-size: 20px;
}

.buy .text-2 {
    width: 600px;
    font-size: 25px;
}

.btn-buy {
    font-size: 20px;
    margin-top: 10px;
}
.datontai{
    background-color: rgb(113, 243, 109);
    width: 200px;
    height: 40px;
    margin: 20px 0;
    line-height: 40px;
    color: white;
}

.buttonbtn {
    border: 1px solid rgb(231, 223, 223);
    width: 30px;
}

.muahang {
    margin: 20px 0;
    height: 40px;
    width: 100px;
    background-color: rgb(113, 243, 109);
    color: white;
}
.muahang:hover{
    background-color: rgb(236, 56, 56);
}

.chitiet {
    margin-top: 10px;
}

.mota {
    width: 1327px;
    margin: 0 auto;
    margin-top: 30px;
}

.describe {
    font-size: 20px;
}

table {
    width: 1327px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    font-size: 19px;
    margin-top: 10px;
}

.vanban {
    margin-top: 20px;
}

.textcolor {
    color: blue;
}