* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 110px;
    display: flex;

}

header .logo {
    padding-left: 300px;
}

.btn {
    margin-left: 950px;
    display: flex;
    margin-top: 55px;
    position: relative;
}

.search,
.cart,
.user {
    margin-right: 30px;
    margin-top: 10px
}

#search-icon1 {
    cursor: pointer;
}

#search-form {
    width: 200px;
    position: absolute;
    right: 170px;
    display: none;
}

#search-form input#keyword {
    padding: 6px 9px;
    width: 100%;
    outline: none;
    border: px solid #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 1);
}

.menu {
    width: 100%;
    height: 30px;
}

.menu ul {
    display: flex;
    padding-left: 670px;
}

.menu ul a {
    margin-left: 50px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}

.menu ul a:hover {
    color: red;
}

h3 {
    margin-top: 30px;
}

.container {
    width: 1327px;
    margin: 0 auto;
}

.gtsp2,
.gtsp3 {
    margin-left: 50px;
}

.footer {
    width: 100%;
    height: 130px;
    text-align: center;
    line-height: 170px;
    margin-top: 60px;
    background-color: rgb(248, 231, 209);
}

.link1,
.link2,
.link3,
.link3,
.link4,
.link5 {
    margin: 0 20px;
}

.contact {
    width: 1327px;
    height: 450px;
    margin: 0 auto;
    display: flex;
}

.contact1 {
    width: 800px;
}
.contact1 ul li {
    list-style: none;
}
.address, .phone, .email, .time{
    margin-top: 15px;
}
.logo-footer {
    margin-left: 40px;
}

.btn-contact {
    display: flex;
    margin-left: 130px;
    width: 650px;
    padding-top: 30px;
}

.contact2,
.contact4 {
    width: 160px;
}

.contact3 {
    width: 170px;
}

.contact2 li {
    list-style: none;
    margin-top: 7px;
}

.contact2 li a {
    list-style: none;
    text-decoration: none;
}

.contact3 li {
    list-style: none;
    margin-top: 7px;
}

.contact3 li a {
    list-style: none;
    text-decoration: none;
}

.contact4 li {
    list-style: none;
    margin-top: 7px;
}

.contact4 li a {
    list-style: none;
    text-decoration: none;
}

footer {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid rgb(231, 218, 218);
}