*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1000px;
    margin: 0 auto;
}
header{
    display: flex;
    background-image: url(img/nền\ lịch\ sủ.jpg);
    width: 1000px;
    height: 150px;
}
.tieude{
    line-height: 150px;
    margin-left: 100px;
    width: 850px;
    text-align: center;
    font-size: 30px;
    color: rgb(167, 236, 237);
    font-family: 'Courier New', Courier, monospace;
}
.menu{
    display: flex;
    margin-top: 10px;
    height: 30px;
    margin-bottom: 20px;
}
.menu ul{
    list-style: none;
    margin-left: 189px;
    background-color: #f6eded;
    line-height: 30px;
}
.menu ul li{
    float: left;
    margin-left: 50px;
    font-size: 17px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}
button{
    margin-left: 11px;
    width: 14px;
    border: none;
}
input{
    border: none;
    background-color: #f2f0f0;
    margin-left: 5px;
}
.search img{
    padding-left: 5px;
    padding-top: 3px;
}
.search:hover{
    border: 1px solid red;
}
input::placeholder{
    color:rgb(185, 152, 152);
    font-size: 14px;
 }
 input:focus {
    outline: none;
 }
.search{
    background-color: #f2f0f0;
    border-radius: 100px;
    width: 220px;
    display: flex;
}
.search img{
    margin-top: 5px;
    margin-left: 4px;
}
.content-1, .content-2, .content-3, .content-4{
  display: flex;
  height: 420px;
}
h3{
    margin: 10px;
}
.container-1, .container-2, .container-3, .container-4{
    width: 240px;
    height: 420px;
    margin-right: 13px;
}
footer{
    text-align: center;
    height: 30px;
    background-image: url(img/nền\ lịch\ sủ.jpg);
    color: white;
    line-height: 30px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
