*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1000px;
    height: 1000%;
    margin: 0 auto;
}
header{
    display: flex;
    background-image: url(img/nền\ lịch\ sủ.jpg);
    height: 150px;
}
.tieude{
    line-height: 150px;
    margin-left: 100px;
    width: 850px;
    text-align: center;
    font-size: 30px;
    color: rgb(192, 237, 236);
    font-family: 'Courier New', Courier, monospace;
}
.menu{
    display: flex;
    margin-top: 10px;
}
.menu ul{
    list-style: none;
    margin-left: 335px;
}
.menu ul li{
    float: left;
    margin-left: 50px;
    font-size: 17px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}
input{
    border: none;
    height: 27px;
    border-radius: 10px;
    padding-left: 10px;
    width: 190px;
}
input::placeholder{
    color:rgb(185, 152, 152);
 }
 input:focus {
    outline: none;
 }
.search{
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
}
.search img{
    margin-top: 3px;
}
.content-1, .content-2, .content-3, .content-4{
  display: flex;
  height: 450px;
}
h3{
    margin: 10px;
}
.container-1, .container-2, .container-3, .container-4{
    width: 240px;
    height: 420px;
    margin-right: 13px;
}
footer{
    text-align: center;
    height: 30px;
    background-image: url(img/nền\ lịch\ sủ.jpg);
    color: white;
    line-height: 30px;
}
