*{
    padding: 0;
    margin: 0;   
}
.container{
    display: flex;
    flex-direction: row;
}
.image{
    background-image: url(img/anh1.png);
    ba
}
.content{
    display: flex;
    flex-direction: row;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px
}