*{
    margin: 0;
    padding:0;
    box-sizing: boder-box;
}
h1{
    background-image: url(img/header.jpg);
    width: 900px;
    height:140px;
   font-size: 0;
}
nav{
    width:900px;
}
nav,footer {
    clear: both;
    background-color: #a8a49a;
}
nav ul{
 line-height: 14px;
 padding: 10px;
}
nav li{
    display: inline;
    margin-right: 14px;
}
nav li a{
    color: #b30707;}
    nav li a:hover, nav li a{
        color: #702b2b;
    }
    section.courses{
        float: left;
        width: 659px;
        border-right: 1px solid #d87e7e;
    }
    article{
        clear: both;
        overflow: auto;
        width: 100%;
    }
    hgroup{
        margin-top:40px;
    }
figure{
    float: left;
    width: 290p;
    height: 200px;
    padding:5px;
    margin: 20px;
    border: px solid #812121;
}
figcaption{
    font-size: 90%;
    text-align: left;
}
aside{
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
aside section{
    display: block;
    padding:10px;
    border-bottom: 1px solid #be2929;
}
aside section a:hover {
    color: #985d6a;
    background-color: #8b0a0a;
}
a{
    color: #de6581;
    text-align: none;
}
h1, h2, h3{
    font-weight: normal;

}
h2{
    margin: 10x 0px 5px 0px;
    padding: 0px;
}
h3{
    margin: 0px 0px 10px 0px;
    color: #de6581;
}
aside h2{
    padding: 30px 0px 10px 0px;
    color: #de6581;
}
footer {
    width: 900px;
    font-size: 70%;
    padding: 8px 4px 2px 20px;
    background-image: url(img/header.jpg);
}
.wrapper{
    width: 980px;
    padding: 50% auto;
    margin: 100px auto;
}