<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="/component/home/banner/banner.css">
</head>
<body>
<div class='banners'>
    <div class='slider'>
        <Slider class='btn-slider' {...settings}>
            <div>
                <img class='img-slider' src="/component/banner/img/anhsp2.jpg"/>
            </div>
        </Slider>

    </div>


    <div class="content">
        <div class="btn-2">
            <h2>QUALITY</h2>
            <em>Product quality assurance</em>
        </div>
        <div class="btn-3">
            <h2>FREE SHIPPING</h2>
            <em>Free shipping for orders of 2 products</em>
        </div>
        <div class="btn-4">
            <h2>ORDER SUPPORT</h2>
            <em>24/7 customer support staff.</em>
        </div>
    </div>
</div>
</body>
</html>
