* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.productcontent1 {
    width: 100%;
    width: 100%;
}

.prd-h2 {
    width: 1327px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    color: rgb(67, 65, 221);
    background-image: url(img/backgroud.jpg);
    margin-top: 20px;
}

.prd-content-anh {
    margin-top: 20px;
    width: 1327px;
    height: auto;
    margin-left: 380px;
    display: flex;
}

.imgproduct1 {
    width: 320px;
    height: 300px;
}