*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #DDE2E7;
}
.header{
    width: 1626px;
    height: 200px;
    display: flex;
    
}
.container{
    width: 1626px;
    height: 3065px;
    margin: 0 auto;
}
.logo{
    width: 916px;
    height: 148px;
    flex-shrink: 0;
    display: flex;
    background-image: url(img/pngtree-background-biru-keren-dan-kosong-abstract-untuk-template-desain-powerpoint-ppt-picture-image_1738466.jpg);
}
.logo img{
    width: 138px;
    height: 128px;
    flex-shrink: 0;
    margin-left: 250px;
}
.logo h1{
    font-size: 80px;
    padding-left: 20px;
    padding-top: 20px;
}
.search{
     padding-top: 10px;
     padding-left: 30px;
}
.search input{
  width: 404px;
  height: 41px;
  border-radius: 30px;
  padding-left: 10px;
  background-color: #D9D9D9;
}
button{
    display: flex;
}
button .search-1{
    margin-top: 5px
}