*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(59, 175, 221);
    width: 980px;
    padding: 0 auto;
    margin: 0 auto;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}
header .right{
    color: #fff;
    font-size: 15px;
    padding: 10px;
}
header .left{
    padding-left: 300px;
    line-height: 40px;
}
header .left li{
      padding-left: 35px;
      float: left;
      list-style: none;
      color: #fff;
      font-size: 15px;

}
.wrapper .logo{
    width: 980px;
    margin: 0 auto;
} 
.wrapper .logo img {
    height: 150px;
    padding-left: 300px;
}
.grid1{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(101, 177, 240);
    height: 30px;
    margin-top: 10px;
}
.grid1 .grid2 li{
    float: left;
    padding-left: 45px;
    list-style: none;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
}
.grid3{
    width: 980px;
    margin: 0 auto;
    padding-left: 125px;
    
}

