.footer {
    width: 100%;
    height: auto;
}

.footer-2 {
    background-image: url(img/backgroud.jpg);
    height: 120px;
}

.footer-3 {
    width: 510px;
    margin: 30px auto;
    padding-top: 30px;
}

.link1,
.link2,
.link3,
.link3,
.link4,
.link5 {
    width: 60px;
    height: 60px;
    margin: 0 20px;
}

.btn-contact-1 {
    width: 1327px;
    height: 450px;
    margin: 0 auto;
    display: flex;
}

.contact-1 {
    width: 700px;
    height: 500px;
}

ul li {
    padding: 5px 0;
    list-style: none;
    display: block;
}


.phone1,
.email1,
.time {
    margin-top: 10px;
}
.span{
    margin-left: 5px;
}

.btn-logo {
    width: 250px;
    height: 220px;
}

.logo-footer {
    margin-left: 50px;
}

.btn-contact {
    display: flex;
    margin-left: 130px;
    width: 500px;
    padding-top: 63px;
}

.contact-2,
.contact4 {
    width: 160px;
}

.contact3 {
    width: 170px;
}

.contact-2 li {
    list-style: none;
    margin-top: 7px;
}

.contact-2 li a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.contact3 li {
    list-style: none;
    margin-top: 7px;
}

.contact3 li a {
    list-style: none;
    text-decoration: none;
}

.contact4 li {
    list-style: none;
    margin-top: 7px;
}

.contact4 li a {
    list-style: none;
    text-decoration: none;
}

.iconcontact {
    width: 20px;
    height: 20px;
}

footer {
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid rgb(231, 218, 218);
}