.ShoppingCart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.btn-cart {
    width: 1327px;
    height: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.btn-cart2 {
    width: 1327px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}



.pay {
    margin-left: 25px;
    width: 427px;
    height: 480px;
    border: 1px solid rgb(196, 168, 168);
}

.sum {
    width: 360px;
    height: 90px;
    border-bottom: 1px solid rgb(196, 168, 168);
    margin: 0 auto;
    display: flex;
}

.sum,
.total-money {
    line-height: 80px;
    font-size: 25px;

}

.btn-monny {
    margin-left: 140px;
    font-size: 20px;
}

.btn-cn {
    width: 370px;
    margin: 30px auto;
}

.btn-cn .libt {
    margin: 20px 0;
}

.btn-Pay {
    width: 370px;
    margin: 0 auto;
    text-align: center;
}

.pay2 {
    margin-top: 20px;
    height: 50px;
    width: 370px;
    font-size: 23px;
    background-color: #ff0000;
    color: white;
}

.btn-cn2 {
    width: 370px;
    border: 1px solid rgb(218, 187, 187);
    height: 100px;
    margin: 0 auto;
    padding: 10px 10px;
}

.btn-cn2 p {
    margin-top: 15px;
}

.btn-cart1 {
    width: 1327px;
    height: 100px;
}

.cart-qty {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 2px solid rgb(218, 187, 187);
    line-height: 40px;
}

.ShoppingCart2 {
    width: 1327px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}

.close {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.btn-close {
    width: 100px;
    height: 30px;
    background-color: #ff0000;
    color: white;
}

.btn-cart-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.cart-name {
    width: 700px;
    height: 60px;
    margin-top: 8px;
}

.btn-qty {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    display: flex;
}

.bton-qty {
    width: 30px;
    height: 30px;
}
.amount {
    margin: 0 30px;
}
.sum-monny{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
}
.remove{
    width: 100px;
    height: 40px;
    margin-top: 20PX;
}