.header{
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: aquamarine;
    margin: 20px auto;
    padding: 20px;
}
.header ul, li, link {
    margin-left: 20px;
    font-size: 20px;
}
.container{
    margin: 0 auto;
    width: 1300px;
    height: 900px;
    background-color: aquamarine;
}