.body {
    width: 100%;
    height: 100%;
}

.btn-xong {
    width: 1327px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.img-thanhcong {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}

.text-h1 {
    font-size: 35px;
}

.text-p {
    font-size: 19px;
    margin-top: 10px;
    color: #857171;
}

.table-2 {
    width: 1327px;
    margin: 50px auto;
    border: 1px solid #b8abab;
}

.tr-2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-left: 1px solid red;
}

.table-3 {
    text-align: center;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #857171;
    border: 0px solid #b8abab;
}



.btn-p {
    width: 1372px;
    margin: 0 auto;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #857171;
}

.order-details {
    width: 1327px;
    margin: 0 auto;
    margin-top: 40px;
}

.tr4 {
    border-bottom: 1px solid #b8abab;
    border-top: 1px solid #b8abab;
}

.table-4 {
    border: 0;
}

.td1 {
    border: 0;
}

.tr6 {
    border-bottom: 1px solid #b8abab;
}

.tt-kh {
    width: 1327px;
    margin: 0 auto;
    margin-top: 40px;
}

.dctt {
    width: 1327px;
    margin: 0 auto;
    margin-top: 40px;
}

.dctt2 {
    margin-top: 10px;
}

.tdd {
    font-size: 22px;
    border: 0;
    border-left: 2px solid rgb(226, 204, 204);
}