.table-bhb{
    text-align: center;
     margin: 50px auto;
}
.nono{
    color: red;
    margin-top: 20px;
}
.bleo{
    border: 0;
}
.bleo2{
    border: 0;
}
.bloe3{
    border: 0;
    border-bottom: 1px solid rgb(209, 193, 193);
}
