html{
    background: rgb(9, 201, 214);
    text-align: center;
.nav{
    background-color: rgb(184, 211, 145);
    margin-left: 600px ;
}
.grid_5{
    margin-right:00px;
}
.footer{
    background: rgb(136, 236, 169);
}