.content-j3{
    width: 1327px;
    height: 970px;
    margin: 0 auto;
}
.btn-sellingProduct-2 {
    display: flex;
    height: 420px;
}

.btn-storedProduct-1, .btn-storedProduct-2{
    display: flex;
    margin: 10px auto;
    width: 1327px;
}
.stored-1,
.stored-5{
    width: 310px;
    height: 430px;
    line-height: none;
    text-align: center;
    box-shadow: 0 0 20px rgba(51, 46, 46, 0.3);
    margin-top: 10px;
    border-radius: 10px;
}

.stored-2,
.stored-3,
.stored-4,
.stored-6,
.stored-7,
.stored-8 {
    width: 310px;
    height: 430px;
    line-height: none;
    margin-left: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(51, 46, 46, 0.3);
    margin-top: 10px;
    border-radius: 10px;
}

.btn-button1{
    margin: 10px 0;
    width: 130px;
    height: 30px;
}