.content1 {
    width: 1327px;
    height: auto;
    margin-top: 10px;
}

.ndh2 {
    margin: 15px 0;
    font-size: 23px;
}

.gtsp1 {
    width: 430px;
    height: 430px;
    margin-top: 20px;
}

.gtsp2 {
    margin-top: 20px;
    margin-left: 17px;
    width: 430px;
    height: 430px;
}
p{
    font-size: 19px;
}
li{
    font-size: 19px;
}
span{
    font-size: 19px;
}