<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/component/home/content1/content1.css">
</head>
<body>
<div class='content-1'>
    <h1>I.&nbsp;PRODUCT CATEGORY</h1>
    <div class="btn-product">
        <div class="product-1">
            <img class='img' src={tuQuanAo} alt="" />
            <button class='btn-btn'><Link to="/Products">Wardrobe</Link></button>
        </div>
        <div class="product-2">
            <img class='img' src={luutru} alt="" />
            <button class='btn-btn'><Link to="/Strored">Storage products</Link></button>
        </div>
    </div>
</div>
</body>
</html>