.content-1 {
    width: 1327px;
    height: 580px;
    margin: 0 auto;
}

.btn-product {
    display: flex;
    width: 1327px;
    margin: 0 auto;

}

.img {
    width: 630px;
    height: 450px;
    border-radius: 4px;
    border: 1px solid rgb(206, 176, 176);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.product-1,
.product-2 {
    width: 630px;
    height: auto;
    margin-top: 10px;
}


.product-2{
    margin-left: 40px;
}

a {
    text-decoration: none;

}
a:hover{
    color: red;
}
.btn-btn{
    width: 200px;
    height: 35px;
    margin-top: 10px;
    margin-left: 200px;
    background-color: rgb(113, 243, 109);
    border: 1px solid rgb(235, 226, 226);
    box-shadow: 0 0 10px rgba(141, 123, 123, 0.3);
    border-radius: 3px;
}